@{
    ViewData["Title"] = "Korkeus DEMO";
}

<script src="~/js/ClientDraw.js"></script>

<h1></h1>

<canvas id="mapPicture" width="0" height="0"></canvas>

<p id="loadFileFromHDD">
    Kokeilua varten sopivan tiedoston voi ladata <a href="https://drive.google.com/open?id=1NEDHwa4FT27VzYHhrSQeiCt0eli4hdzc">tästä</a>.
    <br />
    Ajamisessa saattaa kestää jonkin aikaa koneen tehoista riippuen. Edistyminen kirjataan konsoliin.
    <br /><br />
    Avaa korkeusdata kovalevyltä (.asc -tiedosto).
    <input type="file" id="mapFile" />
    <br /><br />
    <input type="radio" name="coloring" value="blue" checked="checked"/> Yksivärinen sininen<br />
    <input type="radio" name="coloring" value="redAndBlue" /> Merenpinnan alapuoleiset punaisella<br />
    <br />
    <input type="button" onclick="OnSubmit()" value="Piirrä kartta" />
    <br />
</p>