@{
    ViewData["Title"] = "Korkeus DEMO";
}

<script src="~/js/ClientDraw.js"></script>

<h1></h1>

<canvas id="mapPicture" width="0" height="0"></canvas>

<p id="loadFileFromHDD">
    Kokeilua varten sopivan tiedoston voi ladata <a href="https://drive.google.com/open?id=1NEDHwa4FT27VzYHhrSQeiCt0eli4hdzc">tästä</a>.
    <br />
    Ajamisessa saattaa kestää jonkin aikaa koneen tehoista riippuen. Edistyminen kirjataan konsoliin.
    <br /><br />
    Avaa korkeusdata kovalevyltä (.asc -tiedosto).
    <input type="file" id="mapFile" />
    <br />
    Kartan väritys:
    <br />
    <input type="button" id="colorToggle" onclick="setMonocolor()" value="Kaksivärinen" />
    <br />
    Pääväri<br />
    <input type="radio" name="coloringUpper" value="red" /> Punainen<br />
    <input type="radio" name="coloringUpper" value="green" /> Vihreä<br />
    <input type="radio" name="coloringUpper" value="blue" checked="checked" /> Sininen<br />
    <div id="lowerColorSettings" style="display:none;">
    Toinen väri<br />
    <input type="radio" name="coloringLower" value="red" /> Punainen<br />
    <input type="radio" name="coloringLower" value="green" /> Vihreä<br />
    <input type="radio" name="coloringLower" value="blue" checked="checked" /> Sininen<br />
    </div>
    <br />
    <input type="button" id="submitButton" onclick="OnSubmit()" value="Piirrä kartta" />
    <br />
</p>