@{
    ViewData["Title"] = "Korkeus DEMO";
}

<script src="~/js/ClientDraw.js"></script>

<h1></h1>

<canvas id="mapPicture" width="0" height="0"></canvas>

<p id="loadFileFromHDD">
    Lataa korkeusdata kovalevyltä (.asc -tiedosto).
    <input type="file" id="mapFile" />
    <br /><br />
    <input type="button" onclick="ReadTheForm()" value="Submit" />
    <br />
</p>